{% extends "base.html" %}

{% block javascript %}
    <style>
    .mapcontainer {
      position: relative;
      background: #ffffff;
    }
    .animate {

      position: absolute;

    }
    .labelRFID {
      position: absolute;
      background-color: #000;
      width: 4px;
      height: 4px;
    }

    .path {
      position: absolute;
      background-color: #f00;
      width: 4px;
      height: 4px;
    }

    .obstacle {
      position: absolute;
      background-color: #808080;
    }
    .row {
      margin-left:0px;
    }
    a:hover {
     cursor:pointer;
    }
    </style>

{% endblock javascript %}

{% block content %}
    <div class="row" style="width: 100%; margin-right: 0px; margin-left: 0px;">
        <div style="margin-left: auto;margin-right: auto;width: 1140px;height: 40px;">
            <nav class="navbar navbar-inverse" style="border-radius: 0px;">
              <div class="container-fluid">
                <ul class="nav navbar-nav">
                     {% for map in MapList %}
                       <li> <a onclick='getrobotsofmap(this, {{ map.pk }}, {{ map.Width }}, {{ map.Height }}, {{ map.Distance|default_if_none:"49"  }})' style="float:left;height: 40px;margin:0px; margin-right:5px;">
                            {{ map.Name }}
                        </a></li>

                    {% endfor %}
                </ul>
              </div>
            </nav>

        </div>
    </div>
    <div class = "row" style=" width: 100%;">
        <div >
            <div class="row" id="Robotlar" style="margin:0px; margin-top:10px;overflow-x: scroll;overflow-y: hidden;height: 135px;white-space:nowrap" >
            </div>
        </div>

        <nav class="navbar navbar-inverse" style="border-radius: 0px;">
          <div class="container-fluid">
            <ul class="nav navbar-nav">
              <li><a onclick="PathPlan('astar')" style="float:left;height: 40px;margin:0px; margin-right:5px;">A* Path Planning</a></li>
              <li><a onclick="PathPlan('dijkstra')" style="float:left;height: 40px;margin:0px; margin-right:5px;">Dijkstra Path Planning</a></li>
              <li><a onclick="PathPlan('apf')" style="float:left;height: 40px;margin:0px; margin-right:5px;">APF Path Planning</a></li>
            </ul>
          </div>
        </nav>
        <div id ="mapcanvas" style="margin-left:35px;">

        </div>
        <br/>
    </div>

    <script>

        var drewRobotList = [];
        var drewGoalList = [];
        var currentmapid = 0;
        var currentdistance = 0;
        var currentwidth = 0;
        var currentheight = 0;
        var socketList = [];
        robotimageList = [];
        var robotimage = 'http://fatih.tuga.com.tr:8180/static/images/turtlebot_2_lg.png';

        function setupMap(x, y) {
            $('#mapcanvas').html('');
            var innerhtml = '<div id="canvas" class="mapcontainer" style="width:' + x + 'px; height:' + y + 'px;"></div>';
            $('#mapcanvas').append(innerhtml);
        }

        function drawObstacle(left, right, top, bottom) {
            var divhtml = "<div id='obstaclex" + left + "y" + top + "' class='obstacle' style='width:" + (right-left) + "px; height:" + (bottom-top) + "px;'></div>";
            $('#canvas').append(divhtml)
            $('#obstaclex' + left + 'y' + top).css('top', top+'px');
            $('#obstaclex' + left + 'y' + top).css('left', left+ 'px');
        }

        function drawGoal(code, left, right, top, bottom) {
            var html = "<div class='animate goalobject' id='goal-" + code + "'><span style='font-size: 12px;color: #002e80;position: inherit;top: 0px;'>" + code + "</span><img style='margin-top: 18px;'  src='/static/images/archer-clipart-archery-bullseye-15.png' width='"+ currentdistance +"' height='"+ currentdistance +"' /></div>";
            $('#canvas').append(html)
            $('#goal-' + code).css('top', (top - 18) + 'px');
            $('#goal-' + code).css('left', left + 'px');
        }

        function drawPath(x,y) {
            var xpoint = ((x*currentdistance) + (currentdistance/2));
            var ypoint = ((y*currentdistance) + (currentdistance/2));

           var divhtml = "<div id='pathx" + x + "y" + y + "' class='path'></div>";
            $('#canvas').append(divhtml)
            $('#pathx' + x + 'y' + y).css('top', ypoint + 'px');
            $('#pathx' + x + 'y' + y).css('left', xpoint + 'px');
        }

        function drawRobot(robotname, x,y) {
            var model = {
                name : robotname,
                xp : x,
                yp : y
            };
            robotimageList.push(model);
            var html = "<div class='animate' id='robot-" + robotname + "'><span style='font-size: 12px;color: #002e80;position: inherit;top: 0px;'>" + robotname + "</span><img style='margin-top: 18px;'  src='/static/images/turtlebot_2_lg.png' width='"+ currentdistance +"' height='"+ currentdistance +"' /></div>";

            $('#canvas').append(html);

            $("#robot-" + robotname).css('top', (y-18) + 'px');
            $("#robot-" + robotname).css('left', x + 'px');
        }

        function moveRobot(robotname, x,y) {
            $("#robot-" + robotname).css('top', (y-18) + 'px');
            $("#robot-" + robotname).css('left', x + 'px');
        }

        function drawMap(dis) {

            var canvasWidth = $('#canvas').width() - 10;
            var canvasHeight = $('#canvas').height() - 10;
            var numX = parseInt(canvasWidth/dis);
            var numY = parseInt(canvasHeight/dis);
            for (var x = 0; x < numX; x++ ) {
                for (var y = 0; y < numY; y++) {
                    var divhtml = "<div id='labelx" + x + "y" + y + "' class='labelRFID'></div>";
                    $('#canvas').append(divhtml)
                    $('#labelx' + x + 'y' + y).css('top', ((y*dis) + (dis/2))+ 'px');
                    $('#labelx' + x + 'y' + y).css('left', ((x*dis) + (dis/2))+ 'px');
                }
            }
        }

        function InitializeGoal()
        {
            var goalSocket = new WebSocket( 'ws://' + window.location.host + '/robots/iot/loadgoal/');
            goalSocket.open;

            goalSocket.onmessage = function(e) {
                var data = JSON.parse(e.data);
                var message = data['message'];
                if(message == "Load Goals")
                {
                    $('.goalobject').remove();
                    $.ajax({
                        url: '/robots/getgoallist/' + currentmapid,
                        dataType: 'json',
                        success: function (data) {
                            var obj = JSON.parse(data);
                            for(var i = 0; i < obj.length; i++)
                            {
                                drawGoal(obj[i].fields["Code"], obj[i].fields["Left"], obj[i].fields["Right"], obj[i].fields["Top"], obj[i].fields["Bottom"])
                            }
                        }
                    });
                }
            };
            goalSocket.onclose = function(e) {
                console.error('Goal socket closed unexpectedly');
            };

            goalSocket.onopen = function(e) {

            };
        }

        function getrobotsofmap(btn, mapid, width, height, distance)
        {
            drewRobotList = [];
            drewGoalList = [];
            socketList = [];
            robotimageList = [];
            currentheight = height;
            currentwidth = width;

            currentmapid = mapid;
            if(distance == undefined || distance == null)
                distance = 50;

            currentdistance = distance;

            setupMap(width,height);
            drawMap(distance);

            $(btn).parent().parent().children().prop('class', '');
            $(btn).parent().prop('class', 'active');
            $("#Robotlar").html('');

            $.ajax({
                url: '/robots/getobstaclelist/' + mapid,
                dataType: 'json',
                success: function (data) {
                    var obj = JSON.parse(data);
                    for(var i = 0; i < obj.length; i++)
                    {
                        drawObstacle(obj[i].fields["Left"], obj[i].fields["Right"], obj[i].fields["Top"], obj[i].fields["Bottom"])
                    }
                }
            });

            InitializeGoal();

            $.ajax({
                url: '/robots/getrobotlist/' + mapid,
                dataType: 'json',
                success: function (data) {
                    socketList = [];

                    var obj = JSON.parse(data);
                    for(var i = 0; i < obj.length; i++)
                    {
                        var innerhtml = '<div style="display: inline-block; margin-right:15px;">'
                                 + '<div id="divRobot' + obj[i].fields["Name"] + '" style="width:100px; float: left; border: solid 5px #f00; text-align: center; padding: 0;">'
                                 + '<div><span style="font-size: 12px;"> ' + obj[i].fields["Name"] + '</span></div>'
                                 + '<img src="/static/images/turtlebot_2_lg.png" width="40" style="margin-left: 15px; margin-right: 15px;"/>'
                                 + '<div id="durumBack' + obj[i].fields["Name"] + '" style="height:20px; text-align: center; background: #f00;">'
                                 + '<span id="durum' + obj[i].fields["Name"] + '" style="font-size: 12px;color: #fff; font-weight: bold;"> Pasif </span>'
                                 + '</div>'
                                 + '</div>'
                                 + '</div>';

                        $("#Robotlar").append(innerhtml);

                        var iotSocket = new WebSocket( 'ws://' + window.location.host + '/robots/iot/' + obj[i].fields["Name"] + '/');
                        iotSocket.open;

                        socketList.push(iotSocket);

                        iotSocket.onmessage = function(e) {
                            var data = JSON.parse(e.data);
                            var message = data['message'];
                            var num = this.url.replace('ws://' + window.location.host + '/robots/iot/','').replace('/','');

                            if($('#durum'+ num) != undefined && $('#durum'+ num) != null)
                            {
                                if((data['message'] == 'Evet' || data['message'] == 'Merhaba') && drewRobotList.includes(num) == false)
                                {
                                    $('#durum'+ num).html('Aktif');
                                    $('#durumBack'+ num).css('background', 'rgb(0, 179, 0)');
                                    $('#divRobot'+ num).css('border-color', 'rgb(0, 179, 0)');
                                    drawRobot(num, 0, 0);
                                    drewRobotList.push(num);
                                }
                                else if(data['message'] == 'Evet' && drewRobotList.includes(num) == true)
                                {
                                    $('#durum'+ num).html('Aktif');
                                    $('#durumBack'+ num).css('background', 'rgb(0, 179, 0)');
                                    $('#divRobot'+ num).css('border-color', 'rgb(0, 179, 0)');
                                }
                                else if(data['message'] != 'Orada misin?')
                                {
                                    if(data['message'].includes("Son Konumum"))
                                    {
                                        var points = data['message'].replace('Son Konumum: x:', '').replace(' y:','').split(";");
                                        moveRobot(num, points[0], points[1]);

                                        $.ajax({
                                            url: '/robots/setrobotposition/?robotname=' + num + '&mapid=' + currentmapid + '&isactive=True' + '&lastcoordx=' + points[0] + '&lastcoordy=' + points[1],
                                            dataType: 'json',
                                            success: function (data) {
                                            }
                                        });
                                    }

                                }
                            }

                        };
                        iotSocket.onclose = function(e) {
                            console.error('iOT socket closed unexpectedly');
                        };

                        iotSocket.onopen = function(e) {
                            var _this = this;
                            var num = this.url.replace('ws://' + window.location.host + '/robots/iot/','').replace('/','');

                            if($('#durum'+ num) != undefined && $('#durum'+ num) != null)
                            {
                                $('#durum'+ num).html('Pasif');
                                $('#durumBack'+ num).css('background', '#f00');
                                $('#divRobot'+ num).css('border-color', '#f00');
                                _this.send(JSON.stringify({
                                    'message': 'Orada misin?'
                                }));

                                setInterval(function(){

                                    $('#durum'+ num).html('Pasif');
                                    $('#durumBack'+ num).css('background', '#f00');
                                    $('#divRobot'+ num).css('border-color', '#f00');
                                    _this.send(JSON.stringify({
                                        'message': 'Orada misin?'
                                    }));
                                }, 10000);
                            }
                        }
                    }
                }
            });
        }

        function PathPlan(algo)
        {

            var mapid = currentmapid;
            if(socketList.length>0)
            {
                socketList[0].send(JSON.stringify({
                                            'message': 'ClearPath'
                                        }));
            }


            $.ajax({
                url: '/robots/getpathplan/' + mapid +'?algo=' + algo,
                dataType: 'json',
                success: function (data) {
                    $('.svgHtml').remove();
                    $('.path').remove();

                    if(data.length>0)
                    {

                        var svgHtml = '<svg id="svgHtml" class="svgHtml" width="' + currentwidth + '" height="' + currentheight + '" style="position: absolute;">';

                        for(var j = 0; j < data.length; j++)
                        {


                            for(var i = 0; i < data[j]['path'].length; i++)
                            {
                                drawPath(data[j]['path'][i][0], data[j]['path'][i][1])
                                if(i>0)
                                {
                                    var xpoint = ((data[j]['path'][i][0]*currentdistance) + (currentdistance/2));
                                    var ypoint = ((data[j]['path'][i][1]*currentdistance) + (currentdistance/2));
                                    var oldxpoint = ((data[j]['path'][i-1][0]*currentdistance) + (currentdistance/2));
                                    var oldypoint = ((data[j]['path'][i-1][1]*currentdistance) + (currentdistance/2));
                                    svgHtml += '<line x1="' + xpoint + '" y1="' + ypoint + '" x2="' + oldxpoint + '" y2="' + oldypoint + '" stroke="red"/>'
                                }
                            }


                             jsondata = JSON.stringify(data[j]['path']);
                             for(var t = 0; t < socketList.length; t++)
                             {
                                var num = socketList[t].url.replace('ws://' + window.location.host + '/robots/iot/','').replace('/','');
                                if(num == data[j]['robot'])
                                {
                                    socketList[t].send(JSON.stringify({
                                            'message': 'Rota:' + algo + ':' + num + ':' + jsondata
                                        }));
                                }
                             }
                        }

                        svgHtml +="</svg>";
                        $('#canvas').append(svgHtml);
                        $('#svgHtml').css('left','0')
                    }
                }
            });
        }

    </script>

{% endblock content %}

