{% extends "base.html" %}

{% block javascript %}
    <style>
    .mapcontainer {
      position: relative;
      background: #ffffff;
    }
    .animate {

      position: absolute;

    }
    .labelRFID {
      position: absolute;
      background-color: #000;
      width: 2px;
      height: 2px;
    }

    .path {
      position: absolute;
      background-color: #f00;
      width: 4px;
      height: 4px;
    }

    .obstacle {
      position: absolute;
      background-color: #808080;
    }
    .row {
      margin-left:0px;
    }
    a:hover {
     cursor:pointer;
    }

    .robotdiv{
        width: 100px;
        border: solid 5px #f77;
        text-align: center;
        padding: 0;
        height: auto;
        margin: 0 auto;
        position: relative;
        border-radius: 4px;
    }

    .tObjectdiv{
        width: 70px;
        border: solid 5px #f77;
        text-align: center;
        padding: 0;
        height: 88px;
        margin: 0 auto;
        position: relative;
        margin-left: 13px;
        border-radius: 4px;
    }

    #DokAraclari {
      margin:0px;
      margin-top:10px;
      height: 100%;
      display: -webkit-flex;
      -webkit-flex-wrap: wrap;
      display: flex;
      flex-wrap: wrap;
    }

    .targetMenu{
      display: none;
      margin-top: 5px;
      border-radius: 5px;
      height:100%;
      background-color:aliceblue;
    }

    .navRightMenu {
      color: black;
      height:100%;
      background-color:#e0e0e0;
    }
    </style>

{% endblock javascript %}

{% block content %}

    <div class = "row" style=" width: 100%; height: 100%;">
        <div style="width: 200px; float:left; height: 100%;">

            <nav class="navbar navbar-toggleable-md navbar-light bg-faded navbar-inverse" style="border-radius: 0px; height: 100%;">
              <div class="container-fluid">
                <ul class="nav navbar-nav">
                     {% for map in MapList %}
                       <li> <a onclick='getrobotsofmap(this, {{ map.pk }}, {{ map.Width }}, {{ map.Height }}, {{ map.Distance|default_if_none:"49"  }})' style="float:left;height: 40px;margin:0px; margin-right:5px;">
                            {{ map.Name }}
                        </a></li>

                    {% endfor %}
                </ul>
              </div>
            </nav>






        </div>

        <div style="width: 1100px; float:left; height: 100%;padding-left: 15px;">
            <div class = "row" style="padding-top: 15px;">

                <select class="selectpicker" style="width: auto; float:left; margin-right:10px; font-family: inherit;">
                  <option>Yol Planlama Algoritmasını Seçiniz..</option>
                  <option>A* Path Planning</option>
                  <option>Dijkstra Path Planning</option>
                  <option>APF Path Planning</option>
                </select>

                <select class="selectpicker" style="width: auto;float:left; margin-right:10px;font-family: inherit;">
                  <option>Görev Dağılım Algoritmasını Seçiniz..</option>
                  <option>PSO</option>
                  <option>FODPSO</option>
                </select>



                <button id="btnMultiTaskAllocation" onclick="StartAllocation()" class="btn btn-success" type="button" style="float:left; margin-right:10px; margin-top:0px">
                  Görevleri Dağıt
                </button>
                <button id="btnMultiTaskAllocation2" onclick="AllocateTasks()" class="btn btn-success" type="button" style="float:left; margin-right:10px; margin-top:0px">
                  Görevleri Dağıt 2
                </button>
                <button id="btnReset" onclick="ResetMap()" class="btn btn-success" type="button" style="float:left; margin-right:10px; margin-top:0px">
                  Haritayı Sıfırla
                </button>
                <!--<ul class="nav navbar-nav">
                    <li class="nav-item"><a onclick="PathPlan('astar')">A* Path Planning</a></li>
                    <li class="nav-item"><a onclick="PathPlan('dijkstra')" >Dijkstra Path Planning</a></li>
                    <li class="nav-item"><a onclick="PathPlan('apf')">APF Path Planning</a></li>
                </ul>-->
            </div>
            <div id ="mapcanvas" style="margin-bottom: 15px;">
            </div>
        </div>


        <div class="pull-right" style="width:200px;float:left;">
            <button id="btnDokList" class="btn btn-primary pull-right" type="button" style="margin-top: 15px;">
              Dok Araçları
            </button>
            <button id="btnRobotList" class="btn btn-primary pull-right" type="button" style="margin-top: 15px;">
              Robotlar
            </button>

            <div class="targetMenu targetDok pull-right">
              <nav class="navRightMenu">
                <div style="width:193px;float:left; right:0px; height:100%; border: 1px solid #39454b;padding-bottom: 100px;">
                    <span style="font-weight: bold; ">Dok Araçları</span>
                    <div class="row" id="DokAraclari">
                    </div>
                </div>
              </nav>
            </div>
            <div class="targetMenu targetRobot pull-right">
              <nav class="navRightMenu">
                <div style="width:193px;float:left; right:0px; height:100%; border: 1px solid #39454b;">
                    <span style="font-weight: bold; ">Haritadaki Robotlar</span>
                    <div class="row" id="Robotlar" style="margin:0px; margin-top:10px;height: 100%;white-space:nowrap; " >
                    </div>
                </div>
              </nav>
            </div>
        </div>


        <br/>
    </div>

    <script>


        String.prototype.replaceAll = function(search, replacement) {
            var target = this;
            return target.split(search).join(replacement);
        };


        var drewRobotList = [];
        var drewTObjectList = [];
        var drewTransferObjectList = [];
        var currentmapid = 0;
        var currentdistance = 0;
        var currentwidth = 0;
        var currentheight = 0;
        var socketList = [];
        robotimageList = [];
        var dokOpened = false;
        var robotOpened = false;

        var main = function() {

         var dokSlide = $('.targetDok');
         var dokPress = $('#btnDokList');
         var robotSlide = $('.targetRobot');
         var robotPress = $('#btnRobotList');

         dokPress.click(function() {
           dokOpened = !dokOpened;
           dokSlide.toggle('slow');

           if(dokOpened == true & robotOpened)
           {
              robotSlide.toggle('slow');
              robotOpened = !robotOpened;
           }
         });

         robotPress.click(function() {
           robotSlide.toggle('slow');
           robotOpened = !robotOpened;

           if(robotOpened == true && dokOpened)
           {
              dokOpened = !dokOpened;
              dokSlide.toggle('slow');
           }
         });
        }

        $(document).ready(main);



        function setupMap(x, y) {
            $('#mapcanvas').html('');
            var innerhtml = '<div id="canvas" class="mapcontainer" style="width:' + x + 'px; height:' + y + 'px;"></div>';
            $('#mapcanvas').append(innerhtml);
        }

        function drawObstacle(left, right, top, bottom) {
            var divhtml = "<div id='obstaclex" + left + "y" + top + "' class='obstacle' style='width:" + (right-left) + "px; height:" + (bottom-top) + "px;'></div>";
            $('#canvas').append(divhtml)
            $('#obstaclex' + left + 'y' + top).css('top', top+'px');
            $('#obstaclex' + left + 'y' + top).css('left', left+ 'px');
        }

        function drawWorkStation(position, x,y,code) {

            var str = position.replaceAll('[', '');
            str = str.replaceAll(']', '');
            str = str.replaceAll('},', ' ');

            str = str.replaceAll('{', '');
            str = str.replaceAll('}', '');

            if($('#svgHtml').length <=0)
            {
                var svgHtml = '<svg id="svgHtml" class="svgHtml" width="' + currentwidth + '" height="' + currentheight + '" ></svg>';
                $('#canvas').append(svgHtml);
            }

            var newPolygon = document.createElementNS('http://www.w3.org/2000/svg','polygon');
            newPolygon.setAttribute('points',str);
            newPolygon.setAttribute('style',"fill:#e0e0e0;stroke:purple;stroke-width:1");
            newPolygon.setAttribute("class", "polygon");

            $("#svgHtml").append(newPolygon);

            var newText = document.createElementNS('http://www.w3.org/2000/svg','text');
            newText.setAttribute('x',x+3);
            newText.setAttribute('y',y+15);
            newText.setAttribute('fill',"black");
            newText.setAttribute('font-size','13');
            newText.setAttribute('font-weight','bold');
            newText.textContent  = 'M' + code;
            $("#svgHtml").append(newText);
        }

        function drawWaitingStation(position, x, y,code) {
            var str = position.replaceAll('[', '');
            str = str.replaceAll(']', '');
            str = str.replaceAll('},', ' ');

            str = str.replaceAll('{', '');
            str = str.replaceAll('}', '');

            if($('#svgHtml').length <=0)
            {
                var svgHtml = '<svg id="svgHtml" class="svgHtml" width="' + currentwidth + '" height="' + currentheight + '" ></svg>';
                $('#canvas').append(svgHtml);
            }


            var newPolygon = document.createElementNS('http://www.w3.org/2000/svg','polygon');
            newPolygon.setAttribute('points',str);
            newPolygon.setAttribute('style',"fill:#ff00e5;stroke:purple;stroke-width:1");
            newPolygon.setAttribute("class", "polygon");
            $("#svgHtml").append(newPolygon);

            var newText = document.createElementNS('http://www.w3.org/2000/svg','text');
            newText.setAttribute('x',x-13);
            newText.setAttribute('y',y+5);
            newText.setAttribute('fill',"black");
            newText.setAttribute('font-size','13');
            newText.setAttribute('font-weight','bold');
            newText.textContent  = 'W' + code;
            $("#svgHtml").append(newText);
        }

        function drawChargingStation(position, x, y,code) {
            var str = position.replaceAll('[', '');
            str = str.replaceAll(']', '');
            str = str.replaceAll('},', ' ');

            str = str.replaceAll('{', '');
            str = str.replaceAll('}', '');

            if($('#svgHtml').length <=0)
            {
                var svgHtml = '<svg id="svgHtml" class="svgHtml" width="' + currentwidth + '" height="' + currentheight + '" ></svg>';
                $('#canvas').append(svgHtml);
            }


            var newPolygon = document.createElementNS('http://www.w3.org/2000/svg','polygon');
            newPolygon.setAttribute('points',str);
            newPolygon.setAttribute('style',"fill:yellow;stroke:purple;stroke-width:1");
            newPolygon.setAttribute("class", "polygon");
            $("#svgHtml").append(newPolygon);

            var newText = document.createElementNS('http://www.w3.org/2000/svg','text');
            newText.setAttribute('x',x-13);
            newText.setAttribute('y',y+5);
            newText.setAttribute('fill',"black");
            newText.setAttribute('font-size','13');
            newText.setAttribute('font-weight','bold');
            newText.textContent  = 'C' + code;
            $("#svgHtml").append(newText);
        }

        function drawStartStation(position, x, y,code) {
            var str = position.replaceAll('[', '');
            str = str.replaceAll(']', '');
            str = str.replaceAll('},', ' ');

            str = str.replaceAll('{', '');
            str = str.replaceAll('}', '');

            if($('#svgHtml').length <=0)
            {
                var svgHtml = '<svg id="svgHtml" class="svgHtml" width="' + currentwidth + '" height="' + currentheight + '" ></svg>';
                $('#canvas').append(svgHtml);
            }

            var newPolygon = document.createElementNS('http://www.w3.org/2000/svg','polygon');
            newPolygon.setAttribute('points',str);
            newPolygon.setAttribute('style',"fill:#1ae206;stroke:purple;stroke-width:1");
            newPolygon.setAttribute("class", "polygon");
            $("#svgHtml").append(newPolygon);

            var newText = document.createElementNS('http://www.w3.org/2000/svg','text');
            newText.setAttribute('x',x-13);
            newText.setAttribute('y',y+5);
            newText.setAttribute('fill',"black");
            newText.setAttribute('font-size','13');
            newText.setAttribute('font-weight','bold');
            newText.textContent  = 'S' + code;
            $("#svgHtml").append(newText);
        }

        function drawFinishStation(position, x, y,code) {
            var str = position.replaceAll('[', '');
            str = str.replaceAll(']', '');
            str = str.replaceAll('},', ' ');

            str = str.replaceAll('{', '');
            str = str.replaceAll('}', '');

            if($('#svgHtml').length <=0)
            {
                var svgHtml = '<svg id="svgHtml" class="svgHtml" width="' + currentwidth + '" height="' + currentheight + '" ></svg>';
                $('#canvas').append(svgHtml);
            }

            var newPolygon = document.createElementNS('http://www.w3.org/2000/svg','polygon');
            newPolygon.setAttribute('points',str);
            newPolygon.setAttribute('style',"fill:#ff8600;stroke:purple;stroke-width:1");
            newPolygon.setAttribute("class", "polygon");
            $("#svgHtml").append(newPolygon);

            var newText = document.createElementNS('http://www.w3.org/2000/svg','text');
            newText.setAttribute('x',x-13);
            newText.setAttribute('y',y+5);
            newText.setAttribute('fill',"black");
            newText.setAttribute('font-size','13');
            newText.setAttribute('font-weight','bold');
            newText.textContent  = 'F' + code;
            $("#svgHtml").append(newText);
        }

        function drawTransferObject(code, left, top) {
            var html = "<div class='animate transferObject' id='transferObject-" + code + "'><span style='font-size: 12px;color: #002e80;position: inherit;top: 0px;'>" + code + "</span><img style='margin-top: 18px;'  src='/static/images/kumas.png' width='"+ currentdistance +"' height='"+ currentdistance +"' /></div>";
            $('#canvas').append(html)
            $('#transferObject-' + code).css('top', (top - 18) + 'px');
            $('#transferObject-' + code).css('left', left + 'px');
        }

        function drawPath(x,y) {
            var xpoint = ((x*currentdistance) + (currentdistance/2));
            var ypoint = ((y*currentdistance) + (currentdistance/2));

           var divhtml = "<div id='pathx" + x + "y" + y + "' class='path'></div>";
            $('#canvas').append(divhtml)
            $('#pathx' + x + 'y' + y).css('top', ypoint + 'px');
            $('#pathx' + x + 'y' + y).css('left', xpoint + 'px');
        }

        function drawRobot(robotname, x,y) {
            var model = {
                name : robotname,
                xp : x,
                yp : y
            };
            robotimageList.push(model);
            var html = "<div class='animate' id='robot-" + robotname + "'><span style='font-size: 12px;color: #002e80;position: inherit;top: 0px;'>" + robotname + "</span><img style='margin-top: 18px;'  src='/static/images/turtlebot_2_lg.png' width='"+ currentdistance +"' height='"+ currentdistance +"' /></div>";

            $('#canvas').append(html);

            $("#robot-" + robotname).css('top', (y-18) + 'px');
            $("#robot-" + robotname).css('left', x + 'px');
        }

        function drawTObject(name, x,y) {
            var model = {
                name : name,
                xp : x,
                yp : y
            };
            var html = "<div class='animate' id='tobject-" + name + "'><span style='font-size: 12px;color: #002e80;position: inherit;top: 0px;'>" + name + "</span><img style='margin-top: 18px;'  src='/static/images/bos_dok_arabasi.png' width='"+ currentdistance +"' height='"+ currentdistance +"' /></div>";

            $('#canvas').append(html);

            $("#tobject-" + name).css('top', (y-18) + 'px');
            $("#tobject-" + name).css('left', x + 'px');
        }

        function moveRobot(robotname, x,y) {
            $("#robot-" + robotname).css('top', (y-18) + 'px');
            $("#robot-" + robotname).css('left', x + 'px');
        }

        function moveTObject(vehiclename, x,y) {
            $("#tobject-" + vehiclename).css('top', (y-18) + 'px');
            $("#tobject-" + vehiclename).css('left', x + 'px');
        }

        function moveTransferObject(objname, x,y) {
            $("#transferObject-" + objname).css('top', (y-18) + 'px');
            $("#transferObject-" + objname).css('left', x + 'px');
        }

        function drawMap(dis) {

            var canvasWidth = $('#canvas').width() - 10;
            var canvasHeight = $('#canvas').height() - 10;
            var numX = parseInt(canvasWidth/dis);
            var numY = parseInt(canvasHeight/dis);
            for (var x = 0; x < numX; x++ ) {
                for (var y = 0; y < numY; y++) {
                    var divhtml = "<div id='labelx" + x + "y" + y + "' class='labelRFID'></div>";
                    $('#canvas').append(divhtml)
                    $('#labelx' + x + 'y' + y).css('top', ((y*dis) + (dis/2))+ 'px');
                    $('#labelx' + x + 'y' + y).css('left', ((x*dis) + (dis/2))+ 'px');
                }
            }
        }

        function InitializeTransferObjects()
        {
            var transferObjectSocket = new WebSocket( 'ws://' + window.location.host + '/robots/iot/loadtransferobjects/');
            transferObjectSocket.open;

            transferObjectSocket.onmessage = function(e) {
                var data = JSON.parse(e.data);
                var message = data['message'];
                if(message == "Load Transfer Objects")
                {
                    $('.transferObject').remove();
                    $.ajax({
                        url: '/robots/gettransferobjectlist/' + currentmapid,
                        dataType: 'json',
                        success: function (data) {
                            var obj = JSON.parse(data);
                            for(var i = 0; i < obj.length; i++)
                            {
                                drawTransferObject(obj[i].fields["Barcode"], obj[i].fields["LastPosX"], obj[i].fields["LastPosY"], obj[i].fields["Top"], obj[i].fields["Bottom"])
                            }
                        }
                    });
                }
            };
            transferObjectSocket.onclose = function(e) {
                console.error('Transfer Object socket closed unexpectedly');
            };

            transferObjectSocket.onopen = function(e) {

            };
        }

        function getrobotsofmap(btn, mapid, width, height, distance)
        {
            drewRobotList = [];
            drewTObjectList = [];
            drewtransferObjectList = [];
            socketList = [];
            robotimageList = [];
            currentheight = height;
            currentwidth = width;

            currentmapid = mapid;
            if(distance == undefined || distance == null)
                distance = 50;

            currentdistance = distance;

            setupMap(width,height);
            drawMap(distance);

            $(btn).parent().parent().children().prop('class', '');
            $(btn).parent().prop('class', 'active');
            $("#Robotlar").html('');

            $.ajax({
                url: '/robots/getobstaclelist/' + mapid,
                dataType: 'json',
                success: function (data) {
                    var obj = JSON.parse(data);
                    for(var i = 0; i < obj.length; i++)
                    {
                        drawObstacle(obj[i].fields["Left"], obj[i].fields["Right"], obj[i].fields["Top"], obj[i].fields["Bottom"])
                    }
                }
            });

             $.ajax({
                url: '/robots/getworkstationlist/' + mapid,
                dataType: 'json',
                success: function (data) {
                    var obj = JSON.parse(data);
                    for(var i = 0; i < obj.length; i++)
                    {
                        drawWorkStation(obj[i].fields["Position"],obj[i].fields["EnterPosX"],obj[i].fields["EnterPosY"],obj[i].fields["Code"])
                    }
                }
            });

            $.ajax({
                url: '/robots/getwaitingstationlist/' + mapid,
                dataType: 'json',
                success: function (data) {
                    var obj = JSON.parse(data);
                    for(var i = 0; i < obj.length; i++)
                    {
                        drawWaitingStation(obj[i].fields["Position"],obj[i].fields["CenterX"],obj[i].fields["CenterY"],obj[i].fields["Code"])
                    }
                }
            });

            $.ajax({
                url: '/robots/getstartstationlist/' + mapid,
                dataType: 'json',
                success: function (data) {
                    var obj = JSON.parse(data);
                    for(var i = 0; i < obj.length; i++)
                    {
                        drawStartStation(obj[i].fields["Position"],obj[i].fields["CenterX"],obj[i].fields["CenterY"],obj[i].fields["Code"])
                    }
                }
            });

             $.ajax({
                url: '/robots/getfinishstationlist/' + mapid,
                dataType: 'json',
                success: function (data) {
                    var obj = JSON.parse(data);
                    for(var i = 0; i < obj.length; i++)
                    {
                        drawFinishStation(obj[i].fields["Position"],obj[i].fields["CenterX"],obj[i].fields["CenterY"],obj[i].fields["Code"])
                    }
                }
            });

            $.ajax({
                url: '/robots/getchargingstationlist/' + mapid,
                dataType: 'json',
                success: function (data) {
                    var obj = JSON.parse(data);
                    for(var i = 0; i < obj.length; i++)
                    {
                        drawChargingStation(obj[i].fields["Position"],obj[i].fields["CenterX"],obj[i].fields["CenterY"],obj[i].fields["Code"])
                    }
                }
            });

            InitializeTransferObjects();

            $.ajax({
                url: '/robots/getrobotlist/' + mapid,
                dataType: 'json',
                success: function (data) {


                    var obj = JSON.parse(data);
                    for(var i = 0; i < obj.length; i++)
                    {
                        var innerhtml = '<div style=" margin-bottom:15px;">'
                                 + '<div id="divRobot' + obj[i].fields["Code"] + '" class="robotdiv">'
                                 + '<div><span style="font-size: 12px;"> ' + obj[i].fields["Code"] + '</span></div>'
                                 + '<img src="/static/images/turtlebot_2_lg.png" width="40" style="margin-left: 15px; margin-right: 15px;"/>'
                                 + '<div id="durumBack' + obj[i].fields["Code"] + '" style="height:20px; text-align: center; background: #f77;">'
                                 + '<span id="durum' + obj[i].fields["Code"] + '" style="font-size: 12px;color: #fff; font-weight: bold;"> Pasif </span>'
                                 + '</div>'
                                 + '</div>'
                                 + '</div>';

                        $("#Robotlar").append(innerhtml);

                        var iotSocket = new WebSocket( 'ws://' + window.location.host + '/robots/iot/' + obj[i].fields["Code"] + '/');
                        iotSocket.open;

                        socketList.push(iotSocket);

                        iotSocket.onmessage = function(e) {
                            var data = JSON.parse(e.data);
                            var message = data['message'];
                            var num = this.url.replace('ws://' + window.location.host + '/robots/iot/','').replace('/','');

                            if($('#durum'+ num) != undefined && $('#durum'+ num) != null)
                            {
                                if((data['message'] == 'Evet' || data['message'] == 'Merhaba') && drewRobotList.includes(num) == false)
                                {
                                    $('#durum'+ num).html('Aktif');
                                    $('#durumBack'+ num).css('background', 'rgb(0, 179, 0)');
                                    $('#divRobot'+ num).css('border-color', 'rgb(0, 179, 0)');
                                    drawRobot(num, 0, 0);
                                    drewRobotList.push(num);
                                }
                                else if(data['message'] == 'Evet' && drewRobotList.includes(num) == true)
                                {
                                    $('#durum'+ num).html('Aktif');
                                    $('#durumBack'+ num).css('background', 'rgb(0, 179, 0)');
                                    $('#divRobot'+ num).css('border-color', 'rgb(0, 179, 0)');
                                }
                                else if(data['message'] != 'Orada misin?')
                                {
                                    if(data['message'].includes("Son Konumum"))
                                    {
                                        var points = data['message'].replace('Son Konumum: x:', '').replace(' y:','').split(";");
                                        moveRobot(num, points[0], points[1]);

                                        $.ajax({
                                            url: '/robots/setrobotposition/?robotname=' + num + '&mapid=' + currentmapid + '&isactive=True' + '&lastcoordx=' + points[0] + '&lastcoordy=' + points[1],
                                            dataType: 'json',
                                            success: function (data) {

                                                if(data)
                                                {
                                                    if(data["vehicle"]!="")
                                                    {
                                                        moveTObject(data["vehicle"], points[0], points[1]);
                                                        for(var t = 0; t < socketList.length; t++)
                                                        {
                                                            var num = socketList[t].url.replace('ws://' + window.location.host + '/robots/iot/','').replace('/','');
                                                            if(num == data["vehicle"])
                                                            {
                                                                socketList[t].send(
                                                                    JSON.stringify(
                                                                    {
                                                                       'message': 'Konum Değiştir:'+ data["vehicle"] + ':' + points[0] + ':' + points[1]
                                                                    }));
                                                            }
                                                        }
                                                    }
                                                    if(data["object"]!="")
                                                    {
                                                        moveTransferObject(data["object"], points[0], points[1] )
                                                    }
                                                }
                                            }
                                        });
                                    }
                                    if(data['message'].includes("Görev bitti"))
                                    {
                                        $.ajax({
                                            url: '/robots/skiptonextjob/?robotname=' + num + '&mapid=' + currentmapid,
                                            dataType: 'json',
                                            success: function (data) {
                                                if(data.length>0)
                                                {
                                                    if($('#svgHtml').length <=0)
                                                    {
                                                        var svgHtml = '<svg id="svgHtml" class="svgHtml" width="' + currentwidth + '" height="' + currentheight + '" ></svg>';
                                                        $('#canvas').append(svgHtml);

                                                    }

                                                    var lineHtml ='';
                                                    for(var j = 0; j < data.length; j++)
                                                    {

                                                        var renk = getRandomColor();
                                                        for(var i = 0; i < data[j]['path'].length; i++)
                                                        {
                                                            //drawPath(data[j]['path'][i][0], data[j]['path'][i][1])
                                                            if(i>0)
                                                            {
                                                                var xpoint = ((data[j]['path'][i][1]*currentdistance) + (currentdistance/2));
                                                                var ypoint = ((data[j]['path'][i][0]*currentdistance) + (currentdistance/2));
                                                                var oldxpoint = ((data[j]['path'][i-1][1]*currentdistance) + (currentdistance/2));
                                                                var oldypoint = ((data[j]['path'][i-1][0]*currentdistance) + (currentdistance/2));

                                                                var newLine = document.createElementNS('http://www.w3.org/2000/svg','line');
                                                                newLine.setAttribute('id','line' + i);
                                                                newLine.setAttribute('x1',xpoint);
                                                                newLine.setAttribute('y1',ypoint);
                                                                newLine.setAttribute('x2',oldxpoint);
                                                                newLine.setAttribute('y2',oldypoint);
                                                                newLine.setAttribute("stroke", renk);
                                                                newLine.setAttribute("class", "pathline");
                                                                $("#svgHtml").append(newLine);

                                                                //lineHtml += '<line class="pathline" x1="' + xpoint + '" y1="' + ypoint + '" x2="' + oldxpoint + '" y2="' + oldypoint + '" stroke="red"/>'
                                                            }
                                                        }

                                                        if(data[j]['path'].length > 0)
                                                        {
                                                            ppalg = 'dstarlite'
                                                            jsondata = JSON.stringify(data[j]['path']);
                                                            for(var t = 0; t < socketList.length; t++)
                                                            {
                                                               var num = socketList[t].url.replace('ws://' + window.location.host + '/robots/iot/','').replace('/','');
                                                               if(num == data[j]['robot'])
                                                               {
                                                                    console.log(num)
                                                                    socketList[t].send(JSON.stringify({
                                                                           'message': 'Rota:' + ppalg + ':' + num + ':' + jsondata
                                                                       }));
                                                               }
                                                            }
                                                        }

                                                    }
                                                    //$('#svgHtml').append(lineHtml);
                                                    //$('#svgHtml').css('left','0');
                                                }
                                            }
                                        });
                                    }
                                }
                            }

                        };
                        iotSocket.onclose = function(e) {
                            console.error('iOT socket closed unexpectedly');
                        };

                        iotSocket.onopen = function(e) {
                            var _this = this;
                            var num = this.url.replace('ws://' + window.location.host + '/robots/iot/','').replace('/','');

                            if($('#durum'+ num) != undefined && $('#durum'+ num) != null)
                            {
                                $('#durum'+ num).html('Pasif');
                                $('#durumBack'+ num).css('background', '#f77');
                                $('#divRobot'+ num).css('border-color', '#f77');
                                _this.send(JSON.stringify({
                                    'message': 'Orada misin?'
                                }));

                                //$("#robot-" + num).remove();

                                setInterval(function(){

                                    $('#durum'+ num).html('Pasif');
                                    $('#durumBack'+ num).css('background', '#f77');
                                    $('#divRobot'+ num).css('border-color', '#f77');
                                    _this.send(JSON.stringify({
                                        'message': 'Orada misin?'
                                    }));
                                }, 10000);
                            }
                        }
                    }
                }
            });


            $.ajax({
                url: '/robots/gettransfervehiclelist/' + mapid,
                dataType: 'json',
                success: function (data) {


                    var obj = JSON.parse(data);
                    for(var i = 0; i < obj.length; i++)
                    {
                        var dokImage = '/static/images/bos_dok_arabasi.png';

                        //var dokImage = '/static/images/dok-arabasi.png';
                        //if(obj[i].fields["isFull"] == false)
                        //{
                        //    dokImage = '/static/images/bos_dok_arabasi.png';
                        //}
                        var innerhtml = '<div>'
                                 + '<div id="divTransferredObject' + obj[i].fields["Barcode"] + '" class="tObjectdiv">'
                                 + '<div style="height: 19px;margin-top: -4px;"><span style="font-size: 12px;"> ' + obj[i].fields["Barcode"] + '</span></div>'
                                 + '<img id="divTransferredObjectImage' + obj[i].fields["Barcode"] + '" src="' + dokImage  + '" width="30" style="margin-left: 15px; margin-right: 15px;"/>'
                                 + '<div id="durumTBack' + obj[i].fields["Barcode"] + '" style="height:20px; text-align: center; background: #f77;     margin-top: -8px;">'
                                 + '<span id="durumT' + obj[i].fields["Barcode"] + '" style="font-size: 12px;color: #fff; font-weight: bold;"> Pasif </span>'
                                 + '</div>'
                                 + '</div>'
                                 + '</div>';

                        $("#DokAraclari").append(innerhtml);

                        var iotSocket = new WebSocket( 'ws://' + window.location.host + '/robots/iot/' + obj[i].fields["Barcode"] + '/');
                        iotSocket.open;

                        socketList.push(iotSocket);

                        iotSocket.onmessage = function(e) {
                            var data = JSON.parse(e.data);
                            var message = data['message'];
                            var num = this.url.replace('ws://' + window.location.host + '/robots/iot/','').replace('/','');

                            if($('#durumT'+ num) != undefined && $('#durumT'+ num) != null)
                            {
                                if((data['message'] == 'Evet' || data['message'] == 'Merhaba') && drewTObjectList.includes(num) == false)
                                {
                                    $('#durumT'+ num).html('Aktif');
                                    $('#durumTBack'+ num).css('background', 'rgb(0, 179, 0)');
                                    $('#divTransferredObject'+ num).css('border-color', 'rgb(0, 179, 0)');
                                    drawTObject(num, 0, 0);
                                    drewTObjectList.push(num);
                                }
                                else if(data['message'] == 'Evet' && drewTObjectList.includes(num) == true)
                                {
                                    $('#durumT'+ num).html('Aktif');
                                    $('#durumTBack'+ num).css('background', 'rgb(0, 179, 0)');
                                    $('#divTransferredObject'+ num).css('border-color', 'rgb(0, 179, 0)');

                                    //$.ajax({
                                    //    url: '/robots/gettransfervehicle/' + num,
                                    //    dataType: 'json',
                                    //    success: function (data) {
                                    //       var obj = JSON.parse(data);
                                    //        if(obj.fields["isFull"] == true)
                                    //        {
                                    //            $('#divTransferredObjectImage' + num).prop('src', '/static/images/dok-arabasi.png')
                                    //        }
                                    //    }
                                    //});
                                }
                                else if(data['message'] != 'Orada misin?')
                                {
                                    if(data['message'].includes("Son Konumum"))
                                    {
                                        var points = data['message'].replace('Son Konumum: x:', '').replace(' y:','').split(";");
                                        moveTObject(num, points[0], points[1]);

                                        $.ajax({
                                            url: '/robots/settobjectposition/?name=' + num + '&mapid=' + currentmapid + '&isactive=True' + '&lastcoordx=' + points[0] + '&lastcoordy=' + points[1],
                                            dataType: 'json',
                                            success: function (data) {
                                            }
                                        });

                                    }

                                }
                            }

                        };
                        iotSocket.onclose = function(e) {
                            console.error('iOT socket closed unexpectedly');
                        };

                        iotSocket.onopen = function(e) {
                            var _this = this;
                            var num = this.url.replace('ws://' + window.location.host + '/robots/iot/','').replace('/','');

                            if($('#durumT'+ num) != undefined && $('#durumT'+ num) != null)
                            {
                                $('#durumT'+ num).html('Pasif');
                                $('#durumTBack'+ num).css('background', '#f77');
                                $('#divTransferredObject'+ num).css('border-color', '#f77');
                                _this.send(JSON.stringify({
                                    'message': 'Orada misin?'
                                }));

                                setInterval(function(){

                                    $('#durumT'+ num).html('Pasif');
                                    $('#durumTBack'+ num).css('background', '#f77');
                                    $('#divTransferredObject'+ num).css('border-color', '#f77');
                                    _this.send(JSON.stringify({
                                        'message': 'Orada misin?'
                                    }));
                                }, 10000);
                            }
                        }
                    }
                }
            });
        }

        function getRandomColor() {
          var letters = '0123456789ABCDEF';
          var color = '#';
          for (var i = 0; i < 6; i++) {
            color += letters[Math.floor(Math.random() * 16)];
          }
          return color;
        }

        function ResetMap()
        {
            $.ajax({
                url: '/robots/resetmap/' + currentmapid,
                dataType: 'json',
                success: function (data) {

                }
            });
        }

        function StartAllocation()
        {
            setInterval(AllocateTasks, 5000);
        }

        function AllocateTasks()
        {
            var mapid = currentmapid;
            if(socketList.length>0)
            {
                socketList[0].send(JSON.stringify({ 'message': 'ClearPath'}));
            }

            $.ajax({
                url: '/robots/allocatetasks/' + mapid,    //+'?ppalg=' + ppalg +'&optalg=' + optalg,
                dataType: 'json',
                success: function (data) {
                    $('.pathline').remove();
                    $('.path').remove();

                    if(data.length>0)
                    {
                        if($('#svgHtml').length <=0)
                        {
                            var svgHtml = '<svg id="svgHtml" class="svgHtml" width="' + currentwidth + '" height="' + currentheight + '" ></svg>';
                            $('#canvas').append(svgHtml);

                        }

                        var lineHtml ='';
                        for(var j = 0; j < data.length; j++)
                        {

                            var renk = getRandomColor();
                            for(var i = 0; i < data[j]['path'].length; i++)
                            {
                                //drawPath(data[j]['path'][i][0], data[j]['path'][i][1])
                                if(i>0)
                                {
                                    var xpoint = ((data[j]['path'][i][1]*currentdistance) + (currentdistance/2));
                                    var ypoint = ((data[j]['path'][i][0]*currentdistance) + (currentdistance/2));
                                    var oldxpoint = ((data[j]['path'][i-1][1]*currentdistance) + (currentdistance/2));
                                    var oldypoint = ((data[j]['path'][i-1][0]*currentdistance) + (currentdistance/2));

                                    var newLine = document.createElementNS('http://www.w3.org/2000/svg','line');
                                    newLine.setAttribute('id','line' + i);
                                    newLine.setAttribute('x1',xpoint);
                                    newLine.setAttribute('y1',ypoint);
                                    newLine.setAttribute('x2',oldxpoint);
                                    newLine.setAttribute('y2',oldypoint);
                                    newLine.setAttribute("stroke", renk);
                                    newLine.setAttribute("class", "pathline");
                                    $("#svgHtml").append(newLine);

                                    //lineHtml += '<line class="pathline" x1="' + xpoint + '" y1="' + ypoint + '" x2="' + oldxpoint + '" y2="' + oldypoint + '" stroke="red"/>'
                                }
                            }


                             jsondata = JSON.stringify(data[j]['path']);
                             for(var t = 0; t < socketList.length; t++)
                             {
                                var num = socketList[t].url.replace('ws://' + window.location.host + '/robots/iot/','').replace('/','');
                                if(num == data[j]['robot'])
                                {
                                    ppalg = "DStar";
                                    socketList[t].send(JSON.stringify({
                                            'message': 'Rota:' + ppalg + ':' + num + ':' + jsondata
                                        }));
                                }
                             }
                        }
                        //$('#svgHtml').append(lineHtml);
                        //$('#svgHtml').css('left','0');
                    }
                }
            });
        }


        function PathPlan(algo)
        {

            var mapid = currentmapid;
            if(socketList.length>0)
            {
                socketList[0].send(JSON.stringify({ 'message': 'ClearPath'}));
            }

            $.ajax({
                url: '/robots/getpathplan/' + mapid +'?algo=' + algo,
                dataType: 'json',
                success: function (data) {
                    $('.pathline').remove();
                    $('.path').remove();

                    if(data.length>0)
                    {
                        if($('#svgHtml').length <=0)
                        {
                            var svgHtml = '<svg id="svgHtml" class="svgHtml" width="' + currentwidth + '" height="' + currentheight + '" ></svg>';
                            $('#canvas').append(svgHtml);

                        }

                        var lineHtml ='';
                        for(var j = 0; j < data.length; j++)
                        {


                            for(var i = 0; i < data[j]['path'].length; i++)
                            {
                                //drawPath(data[j]['path'][i][0], data[j]['path'][i][1])
                                if(i>0)
                                {
                                    var xpoint = ((data[j]['path'][i][0]*currentdistance) + (currentdistance/2));
                                    var ypoint = ((data[j]['path'][i][1]*currentdistance) + (currentdistance/2));
                                    var oldxpoint = ((data[j]['path'][i-1][0]*currentdistance) + (currentdistance/2));
                                    var oldypoint = ((data[j]['path'][i-1][1]*currentdistance) + (currentdistance/2));

                                    var newLine = document.createElementNS('http://www.w3.org/2000/svg','line');
                                    newLine.setAttribute('id','line' + i);
                                    newLine.setAttribute('x1',xpoint);
                                    newLine.setAttribute('y1',ypoint);
                                    newLine.setAttribute('x2',oldxpoint);
                                    newLine.setAttribute('y2',oldypoint);
                                    newLine.setAttribute("stroke", "red");
                                    newLine.setAttribute("class", "pathline");
                                    $("#svgHtml").append(newLine);

                                    //lineHtml += '<line class="pathline" x1="' + xpoint + '" y1="' + ypoint + '" x2="' + oldxpoint + '" y2="' + oldypoint + '" stroke="red"/>'
                                }
                            }


                             jsondata = JSON.stringify(data[j]['path']);
                             for(var t = 0; t < socketList.length; t++)
                             {
                                var num = socketList[t].url.replace('ws://' + window.location.host + '/robots/iot/','').replace('/','');
                                if(num == data[j]['robot'])
                                {
                                    socketList[t].send(JSON.stringify({
                                            'message': 'Rota:' + algo + ':' + num + ':' + jsondata
                                        }));
                                }
                             }
                        }
                        //$('#svgHtml').append(lineHtml);
                        //$('#svgHtml').css('left','0');
                    }
                }
            });
        }



    </script>

{% endblock content %}

