<!DOCTYPE html>

{% load staticfiles %}

{% load bootstrap3 %}

<html style="height: 100vh;margin: 0;">
    <head>
        <title>Endüstriyel Bina İçi Lojistik Otonom Robot Sistemi</title>
        <link rel="stylesheet" href="/static/bootstrap/bootstrap.min.css">
        <link rel="shortcut icon" type="image/png" href="{% static 'favicon.ico' %}"/>
        {% block css %}{% endblock css %}

        <link rel="stylesheet" href="/static/css/core.79b638b7e64a.css">

        <script type="text/javascript" src="/static/static_jquery/js/jquery.js"> </script>
       <script type="text/javascript" src="/static/bootstrap/bootstrap.min.js"> </script>

      

        {% block javascript %}{% endblock javascript %}

    </head>

    <body style="height: 100vh;margin: 0;">
    <div id="rtfd-header">
      <div class="wrapper">

        <!-- BEGIN header title-->
        <div class="rtfd-header-title">
          <h1 >
            <a href="/"  style="margin-left: 10px;" >Endüstriyel Bina İçi Lojistik Otonom Robot Sistemi</a>
          </h1>
        </div>
        <div class="rtfd-header-nav">
          <ul>
                <li>
                  <a href="/">Anasayfa</a>
              </li>
              <li>
                  <a href="/robots/">Robotlar</a>
              </li>
              <li>
                  <a href="/robots/mapping">Harita</a>
              </li>
              <li>
                  <a href="/robots/iot/">Robota Mesaj Gönder</a>
              </li>
               <li>
                  <a href="/admin/login/">Giriş</a>
              </li>
          </ul>
        </div>
      </div>
    </div>
    {% block content %}{% endblock content %}
    </body>
</html>